APP_NAME='boilerplate-service'
IPBIND='0.0.0.0'
PORT=4000
AUTH_URL='http://localhost:4000'

DATABASE_URL=''
ALLOW_REGISTER_SERVICE=false

JWT_SECRET=''
JWT_ACCESS_EXPIRATION='6h'
JWT_REFRESH_EXPIRATION='7d'

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
CAPTCHA_PROVIDER=''
CAPTCHA_SECRET=''

SIZE_LIMIT='10MB'
